$colors: (
  color1: blue,
  color2: red,
  color3: yellow,
);

@each $key, $color in $colors {
  .#{$color}-text {
    color: darken($color, 25);
  }
}

@for $i from 1 through 5 {
  .text-#{$i} {
    font-size: 15px * $i;
  }
}
